.borrowing-power-button{
    border-radius: 6px;
    border: 1px solid white;
    background-color: rgba(255,255,255, 1);
    padding: 2px 5px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: 'poppins';
}