
.borrow-card-collateral-crypto-icon {
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }   
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
}