.body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Clash Display', sans-serif;
}  

.main-content-layout{
    padding-top: 32px;
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
}