.dashboard-card-layout{
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(138,171,170, 0.3);
    opacity: 0.902725;
    background: transparent;
    padding: 30px;
}

.haha{
    font-size: 16px;
}




.card-detail-title{
    opacity: 0.7;
    color: rgba(0,0,0,1);
    font-family: "Poppins-Regular";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}
.card-detail-value{
    opacity: 1;
    color: rgba(38,38,38,1);
    font-family: "Poppins-Bold";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}
.card-detail-spacing{
    padding-top: 10px;
    padding-bottom: 10px;
}   