.dashboard-card-layout{
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(138,171,170, 0.3);
    opacity: 0.902725;
    background: transparent;
    padding: 30px;
}

.haha{
    font-size: 16px;
}